/* ==========================================================================
   Badges
   ========================================================================== */

.badge {
	display: inline-block;
	background: $badge-background;
	border-radius: 2em;
	color: $badge-font-color;
	font-family: $alt-font;
	@include font-size(12,no);
	font-weight: 600;
	line-height: 1;
	padding: .25em 1em;
	text-align: center;

	&.inverse {
		background: $white;
		color: $text-color;
	}

	&.info {
		background: $badge-info-color;
		color: $white;
	}

	&.danger {
		background: $badge-danger-color;
		color: $white;
	}

	&.warning {
		background: $badge-warning-color;
		color: darken($badge-warning-color, 60);
	}

	&.success {
		background: $badge-success-color;
		color: darken($badge-success-color, 60);
	}
}

/* ==========================================================================
   circ
   ========================================================================== */
.image-cropper {
    display:inline-block;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border:5px solid #FFFFFF
    }

.image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: -webkit-filter 1s ease-in-out;
    transition: filter 1s ease-in-out;
    }


.team-member {
    margin-bottom: 10px;
    text-align: center;
    color: $white;
    font-family: $heading-font;
    }

.team-member name {
    font-weight: 900;
    }

.team-member img {
    margin-bottom: 5px;
    min-width: 150px;
    min-height: 150px;
    width: 150px;
    height: 150px;
    border: 7px solid #fff;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: -webkit-filter 1s ease-in-out;
    transition: filter 1s ease-in-out;
    }

.team-member h6 {
   line-height: 0.1;
}

/*this removes the vertical space between rows*/
h3 { margin-bottom:0px; margin-top: -30px; }


/* Disable grayscale on hover */
.team-member img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  }

// found a good guide to buttons here:
// https://coolestguidesontheplanet.com/creating-social-media-menu-icons-fontawesome/

ul {
    list-style-type: none;
    margin: 2px;
    padding: 0px;
    overflow: hidden;
    display:inline-block;
    }

ul li {
    list-style-type: none;
    float: left;
    }
ul li a {
    outline: 0;
    }

ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 25%;
    transition: all 0.2s ease-in-out;
    }

ul li a i:hover {
    opacity: .7;
    }

/* for images with captions */
figure{
  display:table;
  }
  figcaption{
    display:table-caption;
    caption-side:bottom;
  }

div a img {
  height: 200%;
}

/* This section is for the pop-ups on the species page */
// http://jsfiddle.net/joshnh/daFDn/

// Everything for Tuesday here:
.Tuesday-grand{
    width:600px;
    height:auto;
    border: 1px solid red;
    //margin-LR center the div
    margin-left: auto;
    margin-right: auto;
    }

.LeftBase{
   position: relative;
   width:33.333%;
   height:auto;
   float:left;
   }

.LeftBase img{
   width:100%;
   height:auto;
   }

// this contains the second images
.MiddleRight{
   position: relative;
   float: left;
   width: 66.666%;
   height:auto;
   }

.leftMouse {
    position: absolute;
    overflow:show;
    opacity: 0;
    left:0% /**distance from left of image */;
    width:33%; /**region width*/;
    }

#TuesdayDefault {
    top: 0%/**distance from top of image */;
    left:50% /**distance from left of image */;
    width:50%; /**region width*/;
    height:50% /**region height*/;
    background:#fff;
    }

#Bacteria.leftMouse {
    top: 0%/**distance from top of image */;
    height:4.5% /**region height*/;
    background:#fff;
    }

#Sar.leftMouse {
    top: 4.5%/**distance from top of image */;
    height:7.5% /**region height*/;
    background:#5CFF00;
    }

#Fungi.leftMouse {
    top: 12%/**distance from top of image */;
    height:7% /**region height*/;
    background:#FF0000;
    }

#Ctenophora.leftMouse {
    top: 19%/**distance from top of image */;
    height:6.5% /**region height*/;
    background:#00FFFF;
    }

#Cnidaria.leftMouse {
    top: 25.5%/**distance from top of image */;
    height:7% /**region height*/;
    background:#FF00EA;
    }

#Polychaeta.leftMouse {
    top: 32.5%/**distance from top of image */;
    height:7% /**region height*/;
    background:#5CFF00;
    }

#Mollusca.leftMouse {
    top: 39.5%/**distance from top of image */;
    height:7.5% /**region height*/;
    background:yellow;
    }

#Chaetognatha.leftMouse {
    top: 47%/**distance from top of image */;
    height:7.5% /**region height*/;
    background:#FF0000;
    }

#Hexapod.leftMouse {
    top: 54.5%/**distance from top of image */;
    height:8.5% /**region height*/;
    background:#00FFFF;
    }

#Crustacea.leftMouse {
    top: 63%/**distance from top of image */;
    height:7.5% /**region height*/;
    background:#FF00EA;
    }

#Myriapoda.leftMouse {
    top: 70.5%/**distance from top of image */;
    height:6.5% /**region height*/;
    background:#fff;
    }

#Echinodermata.leftMouse {
    top: 77%/**distance from top of image */;
    height:8% /**region height*/;
    background:#5CFF00;
    }

#Vertebrata.leftMouse {
    top: 85%/**distance from top of image */;
    height:6% /**region height*/;
    background:#FF0000;
    }

#Tunicata.leftMouse {
    top: 91%/**distance from top of image */;
    height:9% /**region height*/;
    background:#00FFFF;
    }

.MiddleRight .RightPanel{
    position: absolute;
    overflow:show;
    left:50% /**distance from left of image */;
    width:50%; /**region width*/;
    }

.MiddleRight .RightPanel img{
    display: none;
    }


.MiddleRight .MiddleOption {
    position: absolute;
    overflow:show;
    left:0% /**distance from left of image */;
    width:50%; /**region width*/;
    display: none;
    }

.MiddleRight .MiddleOption img{
   height:auto;
   float: left;
   opacity: 1.0;
   width: 100%;
   }

.MiddleRight .MiddleOption .MiddleMouse{
    position: absolute;
    overflow:show;
    opacity: 0.25;
    left:0% /**distance from left of image */;
    width:50%; /**region width*/;
    }

#MotyxiaMiddle.MiddleMouse {
    top: 22%/**distance from top of image */;
    height:5% /**region height*/;
    background:#fff;
    }

#SquidMiddle.MiddleMouse {
    top: 52%/**distance from top of image */;
    height:8% /**region height*/;
    background:#fff;
    }

